.mobileselectcity .row {
    padding: 8px 0px;
}

.mobileselectcity svg {
    margin-top: -3px;
}

.selected-outlet b {
    color: #000;
    margin-right: 4px;
}

.change-btn {
    padding: 3px 9px;
    line-height: normal;
    border: 1px solid #000;
    border-radius: 5px !important;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
}

.svg-side {
    width: 21px;
}

.text-side {
    width: 100%;
}

.extraspace {
    padding-top: 42px;
}

header {
    position: relative;
    z-index: 111;
}

@media only screen and (max-width: 991px) {
    #site-navigation .nav-menu {
        margin-top: 110px !important;
    }

    .mobileselectcity .container {
        padding: 0px;
    }

}

@media only screen and (max-width: 767px) {
    .upper-tagline-header p {
        font-size: 12px;
        line-height: normal;
    }

    .upper-tagline-header svg {
        max-width: 19px;
    }

    .mobileselectcity svg {
        margin-top: 1px;
    }

    .mobileselectcity .row {
        padding: 8px 0px;
        line-height: normal;
        font-size: 12px;
    }

    .selected-outlet b {
        margin-bottom: 4px;
    }

    .mobileselectcity .row>div:first-child {
        padding-left: 10px;
    }

    .mobileselectcity .row>div:last-child {
        padding-right: 10px;
    }

    .change-btn {
        margin-left: 10px;
        font-size: 8px;
        position: absolute;
        left: 126px;
        top: 1px;
        padding: 2px 5px;
    }

    .mobileselectcity .container {
        padding: 0 15px !important;
    }

    .mobileselectcity b {
        margin-bottom: 3px;
    }

    .deliveryaddress .change-btn {
        left: 130px;
    }

    .extraspace {
        padding-top: 63px;
    }

}